@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    
}
.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
ul {
    list-style: none;
    display: inline-flex;
    gap: 24px;
    
}
.header {
    padding: 16px 500px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}
.header p {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}
.hero {
    color: #e5e7eb;
    padding: 120px 500px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.hero a {
    display: inline-block;
    color:#e5e7eb;
    text-decoration: none;
    margin-top:10px;
    padding: 8px 24px;
    border-radius: 6px;
    background-color: #3882f6;
}
.hero p {
    
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text {
    width: 450px;
}
.hero-image {
    display: inline-flex;
    justify-content:center;
    padding: 90px;
    background-color: #7d7d80;
    width: 500px;
}
.hero-image p {
    font-size: 15px;
}
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}
.information h1 {
    padding-bottom: 60px;
    font-size: 36px;
}
.galery {
    display: flex;
    gap:42px;

}
.galery p {
    color: #1f2937;
    font-size:17.5px ;
    text-align: center;
    margin-top: 12px;
    width: 160px;

}
.ilustration {
    border: 4px solid #3882f6;
    border-radius: 12px;
    width: 160px;
    height: 160px;
}
.quote-section {
    padding: 120px 600px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
}
.quote-section p {
    
    text-align: justify;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    
}
.quote-section div {
    align-self: flex-end;
    font-weight: 600;
    text-align: right;
}
.call-action{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 100px 500px;
}
.blue-box {
    display: flex;
    justify-content: center;
    gap: 250px;
    color: #faf9f8;
    align-items: center;
    padding: 40px 64px;
    background-color: #3882f6;
    border-radius: 8px;
    width: 100%;
}
.action-button {
    padding: 8px 40px;
    border-radius: 6px;
    border: 1px solid #f9faf8;
    font-weight: 700;
}
.blue-box h1{
    font-size: 24px;
}
footer {
    padding: 36px;
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
}